/* app.component.css */
.error-message {
    color: red;
  }
  
  mat-nav-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  mat-list-item {
    align-items: center;
  }
  
  /* Custom style for disabled buttons */
  button[disabled] {
    color: rgba(0, 0, 0, 0.38); /* Adjust the color as needed */
    background-color: rgba(0, 0, 0, 0.12); /* Adjust background color as needed */
  }

  button {
    color: black; /* Adjust the color as needed */
    background-color: lightpink; /* Adjust background color as needed */
  }
  